body{
  background-color:#1A1A1D;
  background-repeat:no-repeat;
  background-size:cover;	
}
.box{
  color:white;
  width: 100%;
  text-align: center;
}
body .navbar {
  overflow: auto;
  background-color: #1AAB8A;
  font-family: Arial;
  padding:20px;
  margin-top: 0px;
}
.navbar .nav-item{
	float:right;
}
.navbar a{
	text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin:20px;
}
.navbar a:hover {
  color: #000;
}
table{
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
    font-size:50px;
  margin-top:30px;
  padding-bottom:7px;
  border-bottom:5px solid #07eaad;
  text-align: center;
    
}
table th{
	font-size: 40px;
}
.prodList{
	content:center;
	text-align: center;
	margin-left:20%;
  font-size:30px;
  padding:5px 0;
  border-bottom: 1px solid #07eaad;
}
.prodList td a{
	text-decoration: none;
	color: rgb(13, 184, 135);
	width: 10%;
}